//класс для самого input checkbox
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ff9999;
    border-radius: 50%;
    margin-right: 6px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 67% 67%;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.176486 7.24174C2.05441 7.59406 3.76321 8.61525 5.0212 10.137C5.33465 10.5192 5.61929 10.9271 5.87248 11.3568L5.94515 11.4744L5.91401 11.4376C5.86388 11.3773 5.80557 11.3253 5.74098 11.2833C5.62624 11.2119 5.49914 11.1656 5.36725 11.1474C5.2392 11.1215 5.10772 11.1215 4.97967 11.1474C4.8219 11.1828 4.67462 11.2584 4.55057 11.3678C4.52102 11.3912 4.49429 11.4183 4.47098 11.4486L4.44675 11.4744L4.40523 11.5295L4.37062 11.5772V11.5993L4.42253 11.4817L4.67515 10.8718C5.04196 10.0194 5.43992 9.16332 5.86556 8.32561C6.71426 6.6317 7.72797 5.03697 8.89004 3.5676C9.47916 2.82945 10.1288 2.14829 10.8314 1.53212C11.5292 0.908877 12.3062 0.393103 13.1395 0L13.3333 0.334347C12.0627 1.54927 10.9667 2.95551 10.0805 4.50818C9.17566 6.0469 8.35867 7.6419 7.63388 9.28457C7.26014 10.1039 6.91409 10.9343 6.55766 11.7793L6.2739 12.4333L6.18393 12.6317L6.14932 12.6978L6.09395 12.8007L6.03512 12.8889L5.97976 12.9587L5.94861 12.9918C5.94861 12.9918 5.94861 12.9918 5.8621 13.08C5.73186 13.1922 5.57917 13.2714 5.41569 13.3114C5.28214 13.3406 5.14437 13.3406 5.01081 13.3114C4.76435 13.2696 4.5386 13.14 4.37062 12.944C4.341 12.9102 4.31327 12.8747 4.28757 12.8375C4.24604 12.7824 4.22528 12.7456 4.20106 12.7089L4.09724 12.5325C3.86885 12.1394 3.67506 11.7977 3.43974 11.4633C2.52617 10.1002 1.32537 8.89143 0 7.59446L0.176486 7.24174Z' fill='%23CCCCCC'/%3E%3C/svg%3E ");
}
